body{
    margin: 0;
    padding: 0 auto;

    font-family: 'Lato', sans-serif;
}



.about h1 {
   margin-left: 5%;
}

.about p{
    margin: 2%;
    padding: 2%;
    border: solid black 2px;
}

.products h2 {
    margin-left: 5%;
}

.products li{
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 10%;

}

.projects h3 {
    margin-left: 5%;
}

.partners h1 {
    text-align: center;

}

.partners div{
    display: inline;
    margin-left: 7%;
    margin-bottom: 5%;
    margin-top: 3%;
}

.abakus img{
    width: 15%;
    height: 3%;
    display: inline;
}
.agmar img{
    width: 15%;
    display: inline;

}
.centurion img{
    width: 15%;
    display: inline;
}
.delta img{
    width: 15%;
    display: inline;
}
.dre img{
    width: 15%;
    display: inline;
}
.gamet img{
    width: 15%;
    display: inline;
}
.intenso img{
    width: 15%;
    display: inline;

}
.krispol img{
    width: 15%;
    display: inline;
}
.nomet img{
    width: 10%;
    display: inline;
}
.pol-skone img{
    width: 15%;
    display: inline;
}
.voster img{
    width: 15%;
    display: inline;
}
.wikęd img{
    width: 15%;
    display: inline;
}

.navbar {

    background: #080808;

    background: rgba(8, 8, 8, .7);

    padding-bottom: 1em;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: lowercase;
}

.navbar-default .navbar-nav {
    margin-top: 40px;
    margin-right: 30px;
}

.navbar.scrolled {
    background: rgb(13, 25, 49); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
}

.nav.navbar-nav.navbar-right li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    transition: width .4s;
    background: #E47817;
}

.nav.navbar-nav.navbar-right li:hover::after {
    width: 100%;
    transition: width .4s;
}

.nav.navbar-nav.navbar-right li:focus{
    background: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    text-transform: capitalize;
    font-weight: bold;
    background: transparent;

}

.navbar-default .navbar-nav li a:hover {
    color: white;
}

ul li a{
    cursor: pointer;

}

#navbar-collapse-1{
    height: 10%;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{
    height: 9%;
    line-height: 3%;
}
.nav.navbar-nav.navbar-right li {
    margin-top: -5%;
}

.infoD{
    background: white;

}
.windows{
    position: relative;
}
.windows p{
    width: 30%;
    padding: 1%;
    margin-left: 40%;
    position:absolute;
    top: 20%;

}

.windows img{
    margin-left: 10%;
}

.windows h3{
    margin-left: 50%;
}
.doors{
    position: relative;
}
.doors p{
    width: 30%;
    padding: 1%;
    margin-left: 40%;
    position:absolute;
    top: 20%;
}
.doors h3 {
    margin-left: 50%;
}

.doors img{
    width: 10%;
    margin-left: 13%;
}
.gates{
    position: relative;
}
.gates p{
    width: 30%;
    padding: 1%;
    margin-left: 40%;
    position:absolute;
    top: 20%;
}
.gates h3{
    margin-left: 50%;
}

.gates img{
    width: 16%;
    margin-left: 10%;
}
.blinds{
    position: relative;
}
.blinds p{
    width: 30%;
    padding: 1%;
    margin-left: 40%;
    position:absolute;
    top: 20%;
}
.blinds h3{
    margin-left: 50%;
}

.blinds img{
    width: 16%;
    margin-left: 10%;
}
.sills{
    position: relative;
}
.sills p{
    width: 30%;
    padding: 1%;
    margin-left: 40%;
    position:absolute;
    top: 10%;
}
.sills img{
    width: 17%;
    margin-left: 10%;
}

.sills h3{
    margin-left: 50%;
}

.form-group{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
#question1.form-control{
    border: solid black;
}
.forma{
    margin-top: 3%;
}

#map{
    width: 100%;
    height: 400px;
    background-color: gray;
}